* {
  margin: 0;
}
.container {
  width: 100vw;
  height: 1024px;
}
.header {
  height: 44px;
  /* width: 100%; */
  background: rgba(245, 245, 247, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}
.headertext {
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}
.photo {
  background-image: url(./Background.png);
  background-size: cover;
  background-position: center;
  height: 75px;
}
.headertext2 {
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding-top: 60px;
  padding-bottom: 24px;
  display: flex;
  align-items: start;
}
.header2 {
  width: 1024px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 80px;
  padding-bottom: 80px;
}
.store {
  font-size: 44px;
  font-weight: 700;
  background: linear-gradient(90deg, #0090f7 0%, #ba62fc 50%, #f2416b 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.giftmagic {
  font-size: 44px;
  font-weight: 700;
  color: #6e6e73;
}

.profile {
  border-radius: 40px;
  height: 30px;
  width: 30px;
}
.bigprofile {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.t1 {
  font-size: 14px;
  font-weight: 700;
}
.t2 {
  font-size: 14px;
  font-weight: 400;
  color: #06c;
}
.ask {
  padding-bottom: 10px;
}
.headerphoto1 {
  display: flex;
  flex-direction: column;
}
.mac1 {
  text-align: center;
}
.mac {
  font-size: 14px;
  font-weight: 700;
  text-align: center;
}
.headerphoto {
  display: flex;
  justify-content: space-between;
  gap: 12px;
  padding-left: 140px;
  padding-right: 140px;
  overflow: scroll;
  scrollbar-width: none;
}
.the {
  font-size: 24px;
  font-weight: 700;
  background: linear-gradient(90deg, #0090f7 0%, #ba62fc 50%, #f2416b 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.let {
  font-size: 24px;
  font-weight: 700;
  color: #6e6e73;
}
.photo1 {
  background-image: url(./photo1.jpg);
  width: 480px;
  height: 500px;
  background-position: center;
  background-size: cover;
  gap: 12px;
  padding-left: 30px;
  padding-top: 31px;
}
.photo2 {
  background-image: url(./photo2.jpg);
  width: 480px;
  height: 500px;
  background-position: center;
  background-size: cover;
  gap: 12px;
  padding-left: 30px;
  padding-top: 31px;
}
.photo3 {
  background-image: url(./photo3.jpg);
  width: 480px;
  height: 500px;
  background-position: center;
  background-size: cover;
  gap: 12px;
  padding-left: 30px;
  padding-top: 31px;
}
.photo4 {
  background-image: url(./photo4.jpg);
  width: 480px;
  height: 500px;
  background-position: center;
  background-size: cover;
  gap: 12px;
  padding-left: 30px;
  padding-top: 31px;
}
.photos {
  width: fit-content;
  display: flex;
  flex-direction: row;
  gap: 20px;
  overflow: scroll;
  border-radius: 20px;
  scrollbar-width: none;
}
.applein {
  font-size: 12px;
  font-weight: 700;
  color: #b64400;
}
.mini {
  font-size: 26px;
  font-weight: 700;
}
.from {
  font-size: 18px;
  font-weight: 400;
}
.container {
  background-color: rgba(245, 245, 247, 0.8);
  background-position: center;
  background-size: cover;
  height: 100%;
  width: 100%;
}
.photos2 {
  width: fit-content;
  display: flex;
  flex-direction: row;
  gap: 20px;
  border-radius: 20px;
}
.border1 {
  background-image: url(./photo5.jpg);
  width: 400px;
  height: 500px;
  background-position: center;
  background-size: cover;
  border-radius: 20px;
}

.border2 {
  background-color: #ffffff;
  height: 500px;
  width: 350px;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
}
.make {
  font-size: 24px;
  font-weight: 700;
}
.free {
  color: #b64400;
  font-size: 12px;
  font-weight: 700;
}
.max {
  color: #1d1d1f;
  font-size: 18px;
  font-weight: 700;
}
.money {
  color: #1d1d1f;
  font-size: 14px;
  font-weight: 400;
}
.photo6 {
  width: 230px;
  height: 230px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}
.photo7 {
  width: 230px;
  height: 230px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}
.photos13 {
  width: 230px;
  height: 230px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}
.photo9 {
  width: 230px;
  height: 230px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}
.textsize {
  width: 257px;
  padding-top: 58px;
  padding-left: 5px;
  padding-bottom: 10px;
}
.max {
  padding-top: 10px;
}
.make {
  padding-left: 30px;
  padding-top: 53px;
}
.border3 {
  background-image: url(./photos1.png);
  width: 400px;
  height: 500px;
  background-position: center;
  background-size: cover;
  border-radius: 20px;
}
.photos14 {
  background-image: url(./photos14.png);
  width: 480px;
  height: 500px;
  background-position: center;
  background-size: cover;
  border-radius: 20px;
}
.button {
  width: 313px;
  height: 240px;
  background-color: #fefcff;
  border-radius: 18px;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}
.buttons {
  display: flex;
  flex-direction: row;
}
.bigbutton {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.buttons1 {
  display: flex;
  gap: 10px;
  text-align: center;
}
.flex {
  display: flex;
  flex-direction: row;
  gap: 20px;
  width: fit-content;
}
.photos15 {
  background-image: url(./photos15.png);
  width: 480px;
  height: 500px;
  background-position: center;
  background-size: cover;
  border-radius: 20px;
}
.photos16 {
  background-image: url(./photos16.jpg);
  width: 480px;
  height: 500px;
  background-position: center;
  background-size: cover;
  border-radius: 20px;
}
.p8 {
  font-size: 22px;
  font-weight: 700;
  display: flex;
  width: 238px;
}
.getgifts {
  font-size: 26px;
  font-weight: 700;
  padding-left: 30px;
  padding-top: 30px;
  padding-right: 145px;
}
.appletrade {
  color: #6e6e73;
  font-size: 12px;
  font-weight: 700;
  padding-left: 30px;
  padding-top: 31px;
}
.photos20 {
  background-image: url(./photos20.png);
  width: 480px;
  height: 500px;
  background-position: center;
  background-size: cover;
  border-radius: 20px;
}
.photos18 {
  background-image: url(./photos18.png);
  width: 480px;
  height: 500px;
  background-position: center;
  background-size: cover;
  border-radius: 20px;
}
.photos19 {
  background-image: url(./photos19.png);
  width: 480px;
  height: 500px;
  background-position: center;
  background-size: cover;
  border-radius: 20px;
}
.photos17 {
  background-image: url(./photos17.png);
  width: 480px;
  height: 500px;
  background-position: center;
  background-size: cover;
  border-radius: 20px;
}
.photos21 {
  background-image: url(./photos21.png);
  width: 400px;
  height: 500px;
  background-position: center;
  background-size: cover;
  border-radius: 20px;
}
.photos22 {
  background-image: url(./photos22.png);
  width: 400px;
  height: 500px;
  background-position: center;
  background-size: cover;
  border-radius: 20px;
}
.photos23 {
  background-image: url(./photos23.png);
  width: 400px;
  height: 500px;
  background-position: center;
  background-size: cover;
  border-radius: 20px;
}
.photos24 {
  background-image: url(./photos24.png);
  width: 400px;
  height: 500px;
  background-position: center;
  background-size: cover;
  border-radius: 20px;
}
.photos25 {
  background-image: url(./photos25.jpg);
  width: 400px;
  height: 500px;
  background-position: center;
  background-size: cover;
  border-radius: 20px;
}
.p9 {
  font-size: 17px;
  font-weight: 400;
  padding-left: 30px;
}
.p10 {
  color: #fefcff;
}
.p11 {
  padding-top: 10px;
}
.border {
  border-radius: 999px;
  border: 1px solid #1d1d1f;
  width: 125px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer {
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding-top: 10px;
  padding-left: 30px;
  padding-bottom: 50px;
}
.quick {
  font-size: 26px;
  font-weight: 700;
  padding-top: 60px;
  padding-left: 30px;
}
