* {
  margin: 0;
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.navigation1 {
  background: rgba(245, 245, 247, 0.8);
  display: flex;
  height: 48px;
  justify-content: space-between;
  align-items: center;
  padding-left: 16px;
  padding-right: 16px;
}
.navigation2 {
  background-color: #fff;
}
.text {
  display: flex;
  height: 73px;
  padding: 18px 31px;
}
.navigation3 {
  width: 390px;
  height: 500px;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: end;
}
.navigation3 {
  background-image: url(./cover.png);
  background-size: cover;
}
.textall {
  display: flex;
  flex-direction: column;
  color: #fff;
  text-align: center;

}
.pro {
  padding-top: 36px;
}
.text1 {
  font-size: 30px;
  font-weight: 700;
}
.text2 {
  font-size: 18px;
  font-weight: 400;
}
.button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding-top: 16px;
}
.button1 {
  width: 107px;
  height: 36px;
  border-radius: 999px;
  background: #0071e3;
display: flex;
justify-content: center;
align-items: center;
}
.button2 {
  width: 66px;
  height: 36px;
  border-radius: 999px;
  border: 1px solid #2997ff;
display: flex;
justify-content: center;
align-items: center;
}

.p1 {
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;

}
.p2 {
  color: #2997FF;
  font-size: 14px;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;

}
.section2 {
  height: 12px;
  width: 390px;
  gap: 12px;
  background: #fff;
}
.section3 {
  background-image: url(./cover2.png);
  background-size: cover;
  height: 500px;
  gap: 12px;
}
.section4 {
  background-image: url(./cover3.png);
  background-size: cover;
  height: 500px;
  margin-top: 12px;
}
.navigation11 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 36px;
}
.ipad {
  width: 180px;
  height: 41.86px;
  aspect-ratio: 43/10;
}
.two {
  font-size: 18px;
  font-weight: 400px;
  color: black;
}
.textt {
  display: flex;
  flex-direction: row;
}
.hello{
  background: linear-gradient(90deg, #0090F7 0%, #BA62FC 33.33%, #F2416B 66.67%, #F55600 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
padding-top:260px ;
}
.section5{
  background-image: url(./cover4.png);
  background-size: cover;
  height: 500px;
  display: flex;
  align-items: end;
  margin-top: 22px;
  justify-content: center;
}
.air{
  color: #fff;
  font-size: 30px;
  font-weight: 700;
}
.inconic{
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  padding-left: 75px;
  padding-right: 74px;
}
.air1{
  width: 200px;
  display: flex;
  flex-direction: column;  
}
.section6{
  background-image: url(./cover5.png);
  background-size: cover;
  height: 500px;
  margin-top: 12px;
}
.h2{
  color: black;
  padding-top: 46px;
}
.watch{
  font-size: 28px;
  font-weight: 700;
}
.seies{
  font-size: 13px;
  font-weight: 700;
}
.Thinstant{
  font-size:18px ;
  font-weight: 400;
}
.apple{
  width: 22px;
  height: 27px;
}
.apple1{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.section7{
  background-image: url(./cover6.png);
  background-size: cover;
  height: 500px;
  margin-top: 12px;
 
}
.mac{
  font-size: 30px;
  font-weight: 700;
}
.lean{
  font-size: 18px;
  font-weight: 400;
}

  

