* {
  margin: 0;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.navigation1 {
  background: rgba(245, 245, 247, 0.8);
  display: flex;
  height: 48px;
  justify-content: space-between;
  align-items: center;
  padding-left: 16px;
  padding-right: 16px;
}
.navigation2 {
  background-color: #fff;
}
.navi {
  display: none;
}
.text {
  display: flex;
  height: 73px;
  padding: 18px 31px;
}
.navigation3 {
  background-image: url(./cover.png);
  background-size: cover;
  background-position: center;
  margin-bottom: 12px;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: end;
}
.textall {
  display: flex;
  flex-direction: column;
  color: #fff;
  text-align: center;
  padding-bottom: 10px;
}
.pro {
  padding-top: 36px;
}
.text1 {
  font-size: 30px;
  font-weight: 700;
}
.text2 {
  font-size: 18px;
  font-weight: 400;
}
.button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding-top: 16px;
}
.button1 {
  width: 107px;
  height: 36px;
  border-radius: 999px;
  background: #0071e3;
  display: flex;
  justify-content: center;
  align-items: center;
}
.button3 {
  width: 150px;
  height: 36px;
}
.button2 {
  width: 66px;
  height: 36px;
  border-radius: 999px;
  border: 1px solid #2997ff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.p1 {
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
}
.p2 {
  color: #2997ff;
  font-size: 14px;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section3 {
  background-image: url(./cover2.png);
  background-size: cover;
  height: 500px;
  gap: 12px;
}
.section4 {
  background-image: url(./cover3.png);
  background-size: cover;
  height: 500px;
  margin-top: 12px;
}
.webtext {
  display: none;
}
.navigation11 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 36px;
}
.ipad {
  width: 180px;
  height: 41.86px;
  aspect-ratio: 43/10;
}
.two {
  font-size: 18px;
  font-weight: 400px;
  color: black;
}
.textt {
  display: flex;
  flex-direction: row;
}
.hello {
  background: linear-gradient(
    90deg,
    #0090f7 0%,
    #ba62fc 33.33%,
    #f2416b 66.67%,
    #f55600 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 210px;
}
.section5 {
  background-image: url(./cover4.png);
  background-size: cover;
  height: 500px;
  display: flex;
  align-items: end;
  margin-top: 22px;
  justify-content: center;
}
.bigweb {
  display: none;
}
.bigweb1 {
  display: none;
}
.bigweb2 {
  display: none;
}
.air {
  color: #fff;
  font-size: 30px;
  font-weight: 700;
}
.inconic {
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  padding-left: 75px;
  padding-right: 74px;
}
.air1 {
  width: 200px;
  display: flex;
  flex-direction: column;
}
.tell {
  display: flex;
  justify-content: center;
  align-items: end;
  padding-bottom: 50px;
}
.section6 {
  background-image: url(./cover5.png);
  background-size: cover;
  height: 500px;
  margin-top: 12px;
}
.h2 {
  color: black;
  padding-top: 46px;
  padding-left: 66px;
  padding-right: 67px;
}
.watch {
  font-size: 28px;
  font-weight: 700;
}
.seies {
  font-size: 13px;
  font-weight: 700;
}
.Thinstant {
  font-size: 18px;
  font-weight: 400;
}
.apple {
  width: 22px;
  height: 27px;
}
.apple1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.section7 {
  background-image: url(./cover6.png);
  background-size: cover;
  height: 500px;
  margin-top: 12px;
}
.mac {
  font-size: 30px;
  font-weight: 700;
}
.lean {
  font-size: 18px;
  font-weight: 400;
}
.section8 {
  background-image: url(./cover7.png);
  background-size: cover;
  height: 500px;
  margin-top: 12px;
}
.for {
  font-size: 30px;
  font-weight: 700;
}
.hardware {
  font-size: 18px;
  font-weight: 400;
}
.section9 {
  background-image: url(./cover8.png);
  background-size: cover;
  height: 500px;
  margin-top: 12px;
}
.carrier {
  font-size: 30px;
  font-weight: 700;
}
.get {
  font-size: 18px;
  font-weight: 400;
}
.h5 {
  display: flex;
  flex-direction: column;
  color: #0a0505;
  text-align: center;
  padding-top: 301px;
  padding-left: 30px;
  padding-right: 30px;
}
.section10 {
  background-image: url(./cover9.png);
  background-size: cover;
  height: 500px;
  margin-top: 12px;
}
.trade {
  font-size: 28px;
  font-weight: 700;
}
.section11 {
  height: 500px;
  overflow: scroll;
  display: flex;
  gap: 10px;
}
.link11 {
  height: 500px;
  overflow: scroll;
  display: flex;
  gap: 10px;
}
.scroll1 {
  display: none;
}

.section12 {
  height: 39px;
  background-color: #fff;
  gap: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.box {
  width: 8px;
  height: 8px;
  border-radius: 50px;
}
.box1 {
  background-color: #0a0505;
}
.box2 {
  background-color: rgb(69, 69, 69);
}
.box3 {
  background-color: #100808;
}
.section13 {
  height: 500px;
  overflow: scroll;
}
.logosize {
  width: 61px;
  height: 10.8px;
  display: flex;
  padding-left: 220px;
  padding-top: 110px;
}

.bck1 {
  background-color: #6529cf;
  width: 300px;
  height: 134px;
}
.bck2 {
  background-color: darkgreen;
  width: 300px;
  height: 134px;
}
.bck3 {
  background-color: black;
  width: 300px;
  height: 134px;
}
.bck4 {
  background-color: darkorange;
  width: 300px;
  height: 134px;
}
.bck5 {
  background-color: darkorchid;
  width: 300px;
  height: 134px;
}
.over {
  display: flex;
  width: fit-content;
  gap: 10px;
}
.end {
  font-size: 12px;
  font-weight: 700;
  display: flex;
  justify-content: space-between;
}
.scroll2 {
  display: none;
}
.section13-1 {
  display: none;
}

@media (min-width: 768px) {
  .navigation3 {
    background-image: url(./backg3.jpg);
    height: 650px;
    width: 100%;
    align-items: start;
  }
  .textall {
    display: flex;
    flex-direction: column;
    color: #fff;
    text-align: center;
    padding-top: 58px;
  }
  .section3 {
    background-image: url(./backg4.png);
    height: 650px;
    width: 100%;
    align-items: start;
  }
  .section4 {
    background-image: url(backg5.png);
    height: 650px;
    width: 100%;
    align-items: start;
  }
  .webtext {
    display: none;
  }
  .button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
  }
  .button1 {
    width: 107px;
    height: 36px;
    border-radius: 999px;
    background: #0071e3;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
  }
  .navigation11 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
  }
  .pro {
    padding-top: 58px;
  }
  .bigpod {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }
  .section5 {
    width: 50%;
    margin-top: 12px;
  }
  .section5-1 {
    display: none;
  }
  .section6 {
    width: 50%;
    margin-top: 12px;
  }
  .watch1 {
    color: #100808;
  }
  .bigmac {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }
  .section7 {
    width: 50%;
  }
  .section8 {
    width: 50%;
  }
  .h2 {
    color: black;
    padding-top: 46px;
    padding-left: 66px;
    padding-right: 67px;
  }
  .bigcarrier {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }
  .section9 {
    width: 50%;
  }
  .section10 {
    width: 50%;
  }
  .scroll1 {
    display: block;
    overflow: scroll;
    display: flex;
    gap: 10px;
  }
  .link11 {
    display: none;
  }
  .section11 {
    overflow: scroll;
    display: flex;
    gap: 10px;
    margin-top: 12px;
  }
  .section13 {
    height: 500px;
  }

  .bck1 {
    background-color: #6529cf;
    width: 300px;
    height: 134px;
  }
  .bck2 {
    background-color: darkgreen;
    width: 300px;
    height: 134px;
  }
  .bck3 {
    background-color: black;
    width: 300px;
    height: 134px;
  }
  .bck4 {
    background-color: darkorange;
    width: 300px;
    height: 134px;
  }
  .bck5 {
    background-color: darkorchid;
    width: 300px;
    height: 134px;
  }
  .over {
    display: flex;
    width: fit-content;
    gap: 10px;
  }
  .logosize {
    width: 61px;
    height: 10.8px;
    display: flex;
    padding-left: 220px;
    padding-top: 110px;
  }
  .scroll2 {
    display: none;
  }
  .section13-1 {
    display: none;
  }
}
@media (min-width: 1024px) {
  .navigation3 {
    background-image: url(./webcover.png);
    height: 692px;
    width: 100%;
    align-items: start;
  }
  .imgsize4 {
    display: none;
  }
  .navi {
    display: flex;
    gap: 24px;
  }
  .navigation1 {
    background: rgba(245, 245, 247, 0.8);
    display: flex;
    height: 48px;
    align-items: center;
    padding-left: 16px;
    padding-right: 16px;
    gap: 24px;
  }
  .flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .section3 {
    background-image: url(./webcover2.png);
    height: 692px;
    width: 100%;
    align-items: start;
    background-position: center;
    background-size: cover;
  }
  .section4 {
    background-image: url(./webcover3.png);
    height: 692px;
    width: 100%;
    align-items: start;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: end;
    justify-content: center;
  }
  .navigation11 {
    display: none;
  }
  .hello {
    display: none;
  }
  .webtext {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 60px;
  }
  .gift {
    font-size: 52px;
    font-weight: 600;
    display: flex;
    justify-content: center;
  }
  .make {
    font-size: 24px;
    font-weight: 400;
  }
  .webtext2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 20px;
  }
  .button1 {
    width: 107px;
    height: 36px;
    border-radius: 999px;
    background: #0071e3;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
  }
  .webpad {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .button-last1 {
    width: 107px;
    height: 36px;
    border-radius: 999px;
    background: white;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .button-last2 {
    width: 66px;
    height: 36px;
    border-radius: 999px;
    border: 1px solid #fbfcfc;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .bigweb {
    display: block;
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-top: 12px;
  }
  .bigweb1 {
    display: block;
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-top: 12px;
  }
  .web2 {
    background-image: url(./webcover4.png);
    background-size: cover;
    background-position: center;
    height: 500px;
    width: 50%;
    gap: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    padding-bottom: 30px;
  }
  .web1 {
    background-image: url(./webcover1.png);
    background-size: cover;
    background-position: center;
    height: 500px;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    padding-top: 30px;
  }
  .bigpod {
    display: none;
  }
  .bigmac {
    display: none;
  }
  .pods {
    font-size: 36px;
    font-weight: 600;
    color: #fff;
    display: flex;
    justify-content: center;
  }
  .noww {
    font-size: 18px;
    font-weight: 400;
    color: #fff;
  }
  .web3 {
    background-image: url(./webcover5.png);
    background-size: cover;
    background-position: center;
    height: 500px;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    padding-top: 30px;
  }
  .web4 {
    background-image: url(./webcover7.png);
    background-size: cover;
    background-position: center;
    height: 500px;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    padding-top: 30px;
  }
  .bigweb2 {
    display: block;
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-top: 12px;
  }
  .web5 {
    background-image: url(./webcover8.png);
    background-size: cover;
    background-position: center;
    height: 500px;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    padding-top: 30px;
  }
  .web6 {
    background-image: url(./webcover6.png);
    background-size: cover;
    background-position: center;
    height: 500px;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    padding-top: 30px;
  }
  .bigcarrier {
    display: none;
  }
  .scroll2 {
    display: block;
    display: flex;
    flex-direction: row;
    gap: 10px;
  }
  .scroll1 {
    display: none;
  }
  .section11 {
    overflow: scroll;
    display: flex;
    gap: 10px;
    margin-top: 12px;
    flex-direction: row;
  }
  .section13-1 {
    display: block;
    overflow: scroll;
    display: flex;
    gap: 10px;
    margin-top: 12px;
    flex-direction: row;
  }
  .s2 {
    width: 417px;
    height: 236px;
    background-color: #1b2632;
  }
  .s5 {
    width: 417px;
    height: 236px;
    background-color: #ebb799;
  }
  .section13 {
    display: none;
  }
  .img11 {
    padding-left: 20px;
    padding-top: 20px;
  }
  .s1 {
    background-image: url(./s1.jpg);
    background-size: cover;
    background-position: center;
    width: 417px;
    height: 236px;
    display: flex;
    justify-content: end;
    flex-direction: column;
  }
  .fit {
    display: flex;
    justify-content: end;
  }
}
